[general]
name = "minilib-binary"
version = "0.6.0-alpha1"
fix_version = "1.3.0"
authors = ["pt9999"]
license = "MIT"

[build]
opt_level = "basic"
files = [
    "lib/encoding/base64.fix",
    "lib/encoding/binary.fix",
    "lib/text/hex.fix",
]

[build.test]
opt_level = "basic"
files = [
    "tests/test.fix",
    "tests/encoding/base64_test.fix",
    "tests/encoding/binary_test.fix",
    "tests/text/hex_test.fix",
]

[[dependencies]]
name = "minilib-common"
version = "0.12.0"
# path = "../fixlang-minilib-common"
git = { url = "https://github.com/pt9999/fixlang-minilib-common.git" }
